// Brand Colors
$purple: #e6e3f4;
$grey: #7c838e;
$white: #fdfeff;
$black: #1a1b1f;
$transparent: rgba(253, 254, 255, 0.2);
$yellow: #e49c00;
$yellowTransparent: rgba(228, 156, 0, 0.2);
$blue: #003c46;

// Color Roles
$primary: $blue;
$secondary: $purple;

// Typography
$fontPrimary: "Montserrat", sans-serif;
// $fontSecondary: ;

// Borders
$border: 1px solid $white;
$radius: 0.25rem;

// Shadows
$boxShadow: "0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07)";
$boxShadowHover: 0 50px 100px rgba(50, 50, 93, 0.1),
  0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
// Maybe with a .5sec transition

//Transition
$transition: all 0.3s ease;

//Linear gradient
$linearG: linear-gradient(
  0.35turn,
  rgba(253, 254, 255, 0.2),
  rgba(225, 252, 255, 0.2)
);
