// Brand Colors
$blue: #e1fcff;
$purple: #e6e3f4;
$grey: #7c838e;
$white: rgb(235, 242, 245);
$black: #40434e;

// Color Roles
$primary: $blue;
$secondary: $purple;
// $warning: $brand-yellow;
// $danger: $brand-red;

// Typography
$font-mono: "Courier", monospace;
$font-sans: "Source Sans Pro", Arial, sans-serif;
$font-serif: "Bree Serif", Times, serif;
$base-font-color: $grey;
$base-font-family: $font-sans;
$base-font-size: 16px;
$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$base-line-height: 1.5;
$headings: (6, 5, 4, 3, 2, 1);

// Borders
$border: 1px solid $white;
$radius: 0.25rem;

// Shadows
$base-box-shadow: rgba(darken($grey, 20%), 0.2) 0 0 5px;
// box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
