// Brand Colors
$blue: #e1fcff;
$purple: #e6e3f4;
$grey: #7c838e;
$white: #fdfeff;
$black: #1a1b1f;
$transparent: rgba(253, 254, 255, 0.2);

// Color Roles
$primary: $blue;
$secondary: $purple;

// Typography
$fontPrimary: "Montserrat", sans-serif;
$fontSecondary: "Amatic SC", cursive;

// Borders
$border: 1px solid $white;
$radius: 0.25rem;

// Shadows
$boxShadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
// Hover: box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
// Maybe with a .5sec transition

//Transition
$transition: all 0.3s ease;
