// Brand Colors
$blue: #e1fcff;
$purple: #e6e3f4;
$grey: #7c838e;
$white: rgb(235, 242, 245);
$black: #40434e;

// Color Roles
$primary: $blue;
$secondary: $purple;

// Typography
$fontPrimary: "Montserrat", sans-serif;
$fontSecondary: "Amatic SC", cursive;
$font-serif: "Bree Serif", Times, serif;
$base-font-size: 16px;

// Borders
$border: 1px solid $white;
$radius: 0.25rem;

// Shadows
$base-box-shadow: rgba(darken($grey, 20%), 0.2) 0 0 5px;
// box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

//Transition
$transition: all 0.3s ease;
